# Go
bin/
*.exe
*.test
*.out

# Go workspace
go.work
go.work.sum

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# models
*.pt
*.pth

# Vendor 
vendor/

# Env
.env
.env.local

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store